.header {
    width: 100%;
    background: #792020;
    position: fixed;
    top: 0;
    z-index: 99;
}


/* .head-helper {
    height: 240px;
    background-color: #792020;
} */

.header::after {
    /* content: ''; */
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #2727be;
    height: 50px;
    box-shadow: 0px 6px 8px 1px #2b3340;
}

.wrapper {
    margin: 0 auto;
    width: 95%;
    padding: 0 50px;
}

.head-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.head-row img {
    max-width: 90px;
    margin-right: 30px;
}

.head-row h1 {
    color: aliceblue;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 600;
}
