<div class="poke-info" *ngIf="pokemonInfo">
    <div class="poke-container">
        <img class="poke-img" [src]="pokemonInfo.sprites['versions']['generation-v']['black-white'].animated.front_default">
        <h1>{{pokemonInfo.name}}</h1>
        <div class="poke-types">
            <div *ngFor="let pokeType of pokemonInfo.types" class="icon type  {{ pokeType.type.name }}">
                <img [src]="'../../../assets/svg/' + pokeType.type.name + '.svg'" alt="" class="type">
            </div>
        </div>
    </div>
</div>
